body{

    background: #000;

}

img {

    margin-top: 300px;

    border-radius: 100%;

}

h3 {

    color: #fff;

    font-size: 300px;

}

h2{

    color: yellow;

    font-size: 200px;

}

p {

    color: #fff;

    font-size: 100px;

}